@font-face{
    font-family: 'Metropolis-Bold';
    src: url('../fonts/Metropolis-Bold.otf')
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}